body{
background:black;
color:#00ff88;
font-family:Arial;
text-align:center;
}

.hidden{
display:none;
}

.neon{
text-shadow:0 0 10px #00ff88,
0 0 20px #00ff88,
0 0 40px #00ff88;
}

.board{
width:300px;
margin:20px auto;
display:grid;
grid-template-columns:repeat(3,100px);
grid-template-rows:repeat(3,100px);
}

.cell{
border:2px solid #00ff88;
font-size:45px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer;
transition:0.3s;
color:#00ff88;
}

.cell:hover{
background:#00ff88;
color:black;
transform:scale(1.1);
box-shadow:0 0 20px #00ff88;
}

button{
padding:10px 20px;
font-size:16px;
background:#00ff88;
color:black;
border:none;
cursor:pointer;
margin:10px;
}

button:hover{
background:black;
color:#00ff88;
border:1px solid #00ff88;
}

.win{
background:#00ff88;
color:black;
animation:glow 1s infinite alternate;
}

@keyframes glow{
from{box-shadow:0 0 10px #00ff88;}
to{box-shadow:0 0 30px #00ff88;}
}